//顶部
.my-header{
  background-color: #006699;
  .mui-icon,
  .mui-title{
    color:#fff;
  }
}
//底部
.my-nav{
  background-color: #006699;
  .mui-tab-item{
    color: #fff;
    &.mui-active{
      color: orangered;
    }
  }
}